*{padding:0;margin:0;}
ul{list-style: none;}
a{text-decoration: none;}
a{color:#303030;}
a:hover{
    color:#f00;
    text-decoration:underline;
}
.container:before,  .container-fluid:before, .row:before,  .form-horizontal .form-group:before,  .btn-toolbar:before, .btn-group-vertical > .btn-group:before, .nav:before,.navbar:before,  .navbar-header:before, .navbar-collapse:before, .pager:before,  .panel-body:before,.modal-header:before, .modal-footer:before,.collapse.navbar-collapse:before,.collapse.navbar-collapse:after,.nav.navbar-nav:before,.nav.navbar-nav:after{
    display: table;
    content:"";
}
.container:after,.container-fluid:after, .row:after,.btn-group-vertical > .btn-group:after, .form-horizontal .form-group:after,.btn-toolbar:after,  .nav:after, .navbar:after,.navbar-collapse:after, .navbar-header:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after,navbar-header:after{
    display:table;
    content:"";
    clear:both;
}
.padding-bom-40{
    padding-bottom: 40px;
}
button{
    cursor: pointer;
}
html,body{
    box-sizing: border-box;
}
.navbar{
    padding:0 !important;
    margin:0 !important;
}
.navbar-default {
    background-color: #9B0000;
    border:1px solid #e7e7e7;
}
/* 修改文字颜色 */
.navbar-dark a{
    color:#fff !important;
}
/* 左侧logo */
.navbar-brand{
    float:left;
    height:60px;
    line-height: 30px;
    padding:15px;
    color:#fff;
    margin-right:0 !important;
    font-size:18px;
}

.navbar-brand>img{
    width:30px;
    height:30px;
}
/* 小屏和超小屏 */
@media screen and (max-width:767px){
    .navbar{
        justify-content: flex-start !important;
    }
    .wrap-row{
        clear: both;
    }
    .collapse.navbar-collapse{
        float:left;
        width:100%;
        clear: both;
        margin-left:0;
        padding-left:0;
    }
    li.nav-item{
        padding:8px 0;
    }
    .navbar-nav.col-md-4.co-lg-5.nav-right{
        float:left !important;
    }
     .collapse.navbar-collapse li>a{
        padding:10px 15px;
    } 
    .collapse.navbar-collapse li>a+ul{
        border:none;
    }
    .collapse.navbar-collapse li>a+ul>li{
        margin:4px;
    }
    .navbar-collapse.collapse.show{
        max-height:340px !important;
        overflow-y:scroll;
    }
    
    #content{
        border-top:1px solid #fff;
    }
    
    
}
/* 中屏 */
@media screen and (min-width:768px) and (max-width:991px){
    .navbar-brand.hidden-md{
        display:none;
    }
}
/* 中屏以上 */
@media screen and (min-width:768px){
    .navbar-collapse li a{
        padding:20px 8px ;
    }
    .navbar-nav>li ul.dropdown-menu{
        margin-top:20px ;
        display:none;
    }
    .nav.nav-tabs.navbar-right{
        float: right !important;
        margin-right:-15px;
    }
    li.nav-item{
        margin:20px 3px;
    }
    
}
/* 大屏 */
@media screen and (min-width:992px) and (max-width:1199px){

}
/* 大屏以上 */
@media screen and (min-width:992px){
    .visible-lg{display:block !important;}
}
/* 超大屏 */
@media screen and (min-width:1200px){

}
.navbar-fixed-top{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1030;
}
.navbar-nav.nav-right{
    float:right !important;
    margin-right:0px !important;
}
.navbar-collapse li a{
    font-size:14px;
}

/* 导航栏hover */
.navbar-collapse .nav-item a:hover{
    background:#fff;
    color:#9B0000 !important;
}
.dropdown-menu{
    background-color: #9B0000;
    margin:0;
}
.nav-item{
    position: relative;
}
.dropdown-menu>li>a{
    padding:3px 20px;
}
.dropdown-menu>li>a:hover{
    text-decoration: none;
}
/* 导航按钮 */
.btn.btn-default.dropdown-toggle{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 20px !important;
}
.btn-default{
    padding:0 !important;
    margin:0 !important;
}
.btn-group{
    padding:0 !important;
    margin:0 !important;
}
/* 导航栏下拉菜单 */
li.nav-item ul{
	display: none ;
	/*height:0;*//*106px*/
	overflow:hidden;
	/* transition:all .5s linear; */
}
.open{
    /**/ display:block !important; 
}



/* 轮播图 */
.swiper-container{
    margin-top:60px;
}
.swiper-slide>img{
    width:100%;
}
/* 1楼展会 */
.mar-tb-40{
    margin:40px 0;
}
.mar-top-20{
    margin-top:20px;
}
.mar-tb-10{
    margin:10px 0;
}
.exh-title{
    height:50px;
    line-height: 50px ;
}
.nav-tabs>li.active>a:hover{
    color:#f00;
    border-bottom:2px solid #f00;
    cursor: pointer;
} 
.nav-tabs>li>a:hover{
    text-decoration: none;
} 
.nav-tabs>li>a{
    margin-right:2px;
    padding:10px 15px;
    display:block;
    border:1px solid transparent;
    color:#303030;
    font-size:14px;
}
.img-active{
    width:100%;
}
.list-group-item{
    display:block;
    padding:15px;
    border:0;
}
.exh-news-title a{
    color:#303030;
    font-size:16px;
}
.exh-news-title a:hover{
    color:#f00;
    text-decoration:underline;
}
.retract{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
}
.col-sm-6.hidden-xs>img{
    width:100%;
}
.exhhall-title a{
    font-size:16px;
}